{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}
{% block stylesheets %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/angry-dog.png') }}" />
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body { margin: 0; padding: 0;background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
        background-position: center;  font-family: sans-serif; }
    .login-box {width: 320px; height: 420px; background: rgba(0, 0, 0, 0.5);
        color: #fff;  top: 50%;  left: 50%; position: absolute; transform: translate(-50%,-50%);
        box-sizing: border-box; padding: 70px 30px; border-radius: 20px;  }
    .avatar {  width: 120px; height: 120px; border-radius: 50%;  position: absolute;
        top: -60px; left: calc(50% - 60px); }
    h1 {    margin: 0;  padding: 0 0 20px; text-align: center; font-size: 22px; }
    .login-box p {     margin: 0;  padding: 0;  font-weight: bold; }
    .login-box p.error { font-weight: normal; text-align: center;  text-transform: uppercase;
        color: coral; margin-bottom: 10px;  }

    .login-box input {   width: 100%; margin-bottom: 20px;  }

    .login-box input[type="text"], input[type="password"] {
        border: none; border-bottom: 1px solid #fff;  background: transparent;
        outline: none; height: 40px; color: #fff; font-size: 16px;  }

    .login-box input[type="submit"] {     border: none;   outline: none;   height: 40px;
        background: #1c8adb;  color: #fff; font-size: 18px; border-radius: 20px; }
    .login-box input[type="submit"]:hover {  cursor: pointer;   background: #39dc79;     color: #000;   }
    .login-box a { text-decoration: none; font-size: 14px; color: #fff;  }
    .login-box a:hover {  color: #39dc79;  }
    .error {color: #d6dc5e    }
</style>
<body>
<div class="login-box">

    <img src="{{ asset('images/avatar-default-icon.png') }}" class="avatar">
    <h1>Login</h1>
    <form action="{{ path('login') }}" method="post">
        <p>User name</p>
        <input type="text" name="_username" value="{{ last_username }}" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="_password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Login">
    </form>
    {%  if error %}
        <span class="error"><b>Ошибка авторизации!</b></span>
    {% endif %}
</div>
{% endblock %}
